
.mySwiper2 {
  /* border: 1px solid #7D7D7D; */
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.mySwiper2 img {
  width: 100%;
  height: auto;
  display: block;
}

.mySwiper {
  padding: 5px 0;
}

.mySwiper .swiper-slide {
  opacity: 0.7;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  border: 2px solid #000; 
}

.mySwiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}