.account {
  position: relative;
  &__wrap {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 3fr;
    padding: 42px 0 78px;
  }

  &__nav {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-elem {
      background: var(--white);
      border-radius: 12px;
      width: 100%;
      padding: 13px 18px;
      font-weight: 500;
      transition: all linear 0.3s;
      color: var(--black);
    }

    &-exit {
      background: var(--white);
      border-radius: 12px;
      width: 100%;
      padding: 13px 18px;
      font-weight: 500;
      transition: all ease-out 0.3s;
      color: #ca0808;

      &:hover {
        background: #ca0808;
        color: var(--white);
        cursor: pointer;
      }
    }
  }
}

.active {
  background: var(--primary-color);
  color: var(--white);
  border-radius: 12px;
  width: 100%;
  padding: 13px 18px;
  font-weight: 500;
  transition: all linear 0.3s;
}

@media screen and (max-width: 480px) {
  .account {
    &__wrap {
      display: flex;

      flex-direction: column;
    }

    &__nav {
      width: 100%;
      max-width: 100%;

      &-elem {
        width: 100%;
      }
    }
  }
}
