$color-main: #10355b;
$color-gray: #7d7d7d;
$color-black: #111111;
$border-soft: #818181;
$bg-card: #ffffff;

.profile-info {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-input {
  border: 1px solid #c5c5c5;
  outline: none;
  background: #f5f5f7;
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
}

.profile-card {
  background-color: $bg-card;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 1px solid #10355b;
}

.label-title,
.profile-field label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  line-height: 24px;
  color: #7d7d7d;
}

.label-title label {
  margin: 0;
}

.phone-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #c5c5c5;
  background-color: #f5f5f7;
  border-radius: 12px;
  span {
    padding: 9px 20px;
    font-weight: 600;
    border: 1px solid #10355b;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}

.input-phone {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  background: none;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000000;
}

.profile-address {
  margin-top: 6px;

  &__add-btn {
    width: 100%;
    border-radius: 8px;
    border: none;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 500;
    background-color: #7a93b0;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.2s;

    &:hover {
      background-color: #6a8199;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

select.profile-field__input {
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L6 6.5L11 1.5' stroke='%2364748b' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  padding-right: 36px;
}

@media screen and (max-width: 481px) {
  .profile-page__layout {
    flex-direction: column;
    width: 100%;
  }

  .profile-sidebar,
  .profile-content {
    width: 100%;
  }
  .profile-field {
    width: 100%;
  }

  .profile-input {
    background: #f5f5f7;
    padding: 9px 15px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 14px;
  }

  .profile-card {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    border: none;
    padding: 10px;
    &__header {
      img {
        width: 20px;
        height: 20px;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
    }
  }

  .phone-wrapper {
    span {
      padding: 7px 14px;
      font-size: 14px;
    }
  }

  .input-phone {
    width: 100%;
    padding: 7px 14px;
    font-size: 14px;
  }

  .profile-address {
    margin-top: 6px;

    &__add-btn {
      width: 100%;
      border-radius: 8px;
      border: none;
      padding: 12px 16px;
      font-size: 14px;
      font-weight: 500;
      background-color: #7a93b0;
      color: #fe4444;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      transition: all 0.2s;
    }
  }

  select.profile-field__input {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L6 6.5L11 1.5' stroke='%2364748b' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    padding-right: 24px;
  }
}
