$color_1: #000;
$color_2: #7d7d7d;
$color_4: #fff;
$background-color_1: #f7f7f7;
$background-color_2: #fff;
$background-color_3: #eee;
$background-color_4: #10355b;

.product-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
}

.all-products-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.all-products-text {
  color: $color_1;
  font-weight: 600;
  font-style: Bold;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.product-count {
  font-size: 14px;
  color: $color_2;
  padding: 0 15px;
  border-radius: 10px;
  background: #fff;
  padding: 9px 20px;
}
.filter-buttons-group {
  display: flex;
  gap: 10px;
}
.filter-button {
  background-color: $background-color_2;
  color: $color_1;
  border: none;
  padding: 9px 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  outline: none;
  white-space: nowrap;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;

  &:hover {
    background-color: $background-color_3;
    color: $color_1;
  }
}
.filter-button.active {
  background-color: $background-color_4;
  color: $color_4;
  font-weight: 500;
  &:hover {
    background-color: $background-color_4;
    color: $color_4;
  }
}

@media screen and (max-width: 500px) {
  .product-filter-container {
    display: none;
  }
}
