.skeleton__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
  gap: 20px;
  padding: 80px 0 50px; 
  
}

.skeleton__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background: #fff;
  border-radius: 12px;
}

.skeleton__image {
  width: 100%; 
  height: 250px;
  border-radius: 10px;
}

.skeleton__title,
.skeleton__price {
  height: 25px;
  border-radius: 6px;
}

.skeleton__title { width: 90%; }
.skeleton__price { width: 60%; }

.skeleton__anime {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: skeletonAnime 1.5s infinite;
}

@keyframes skeletonAnime {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}
.banner-skeleton {
	 width: 100%;
	 height: 480px;
	 background: #eee;
	 background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
	 border-radius: 16px;
	 background-size: 200% 100%;
	 animation: shimmer 1.5s linear infinite;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 padding: 40px;
	 position: relative;
	 overflow: hidden;
     margin: 20px 0;
}
 .banner-skeleton__title {
	 width: 60%;
	 height: 32px;
	 background: #dadada;
	 border-radius: 8px;
	 margin-bottom: 15px;
}
 .banner-skeleton__text {
	 width: 40%;
	 height: 20px;
	 background: #dadada;
	 border-radius: 6px;
}
 .banner-skeleton__button {
	 margin-top: 30px;
	 width: 150px;
	 height: 45px;
	 background: #dadada;
	 border-radius: 25px;
}
 @keyframes shimmer {
	 to {
		 background-position-x: -200%;
	}
}
 