
.fullscreen-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.fullscreen-container {
  position: relative;
  width: 90%;
  height: 90%;
}

.fullscreen-swiper {
  width: 100%;
  height: 100%;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  background: none;
  color: white;
  font-size: 40px;
  border: none;
  cursor: pointer;
  z-index: 99999;
}

.swiper-zoom-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
