.langl {
  user-select: none;
  padding: 4px 8px;
  background: var(--white);
  border-radius: 15px;
  border: var(--primary-color) 1px solid;
  max-width: 80px;

  &__active {
    user-select: none;

    position: absolute;
    margin-top: 10px;
    z-index: 100;

    &__tumb {
      transition: all linear 0.2s;

      position: absolute;
      width: 34px;
      height: 23px;
      left: 2px;
      top: 4px;

      border-radius: 10px;
      background: var(--primary-color);
    }

    &__wrap {
      background: var(--white);
      position: relative;
      display: flex;
      justify-content: space-between;
      border: 1px solid var(--primary-color);
      border-radius: 15px;
    }

    &__text {
      width: 100%;
      z-index: 100;
      font-family: "GPR";
      color: var(--primary-color);
      font-weight: 400;
      font-size: 16px;
      line-height: 18.75px;
      letter-spacing: 0%;
      text-align: right;
      padding: 6px 8px;
    }
  }

  &-txt {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    gap: 4px;
    font-family: "GPR";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: var(--primary-color);
  }

  display: flex;
  gap: 6px;
}

.la {
  transition: all linear 0.2s;

  display: none;
}

.lr {
  transition: all linear 0.2s;

  left: 37px;
}

.ltl {
  transition: all linear 0.3s;
  color: var(--white);
}
