.media {
  width: 100%;
  display: none;
  margin-top: 60px;

  &__wrap {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background: var(--white);
    border-top: 1px solid #d1d7df;
    bottom: 0;
    width: 100%;
    padding: 12px 20px;
    z-index: 9999;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    position: relative;
    color: #969b9f;
    text-transform: capitalize;

    & span {
      color: var(--white);
      border-radius: 50%;
      background: var(--sale);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      top: -6px;
      border: 1px solid var(--white);
      position: absolute;
      right: 0;
      font-size: 10px;
      line-height: 117%;
      letter-spacing: 0%;
    }

    &-text {
      position: relative;
      color: #969b9f;
      font-weight: 500;
      max-width: 60px;
      width: 100%;
      flex: 1;
      text-align: center;
      font-size: 10px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }
}

.choosen {
  p {
    color: var(--primary-color);
  }
}

.media__link {
  color: #969b9f; 
}

.media__link-text{
  text-transform: capitalize;

}

.media__icon {
  width: 20px;
  height: 20px;
  color: #969b9f;
}

.media__link.choosen .media__icon {
  color: #10355b;
}
.media__link.choosen {
  color: #10355b; 
}

@media screen and (max-width: 480px) {
  .media {
    display: block;
  }
}
