.skeleton-page {
  min-height: 100vh;
  padding-top: 20px;
}

.skeleton-nav,
.skeleton-slider,
.skeleton-line,
.skeleton-box,
.skeleton-features {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: shimmer 1.5s linear infinite;
  border-radius: 10px;
}

@keyframes shimmer {
  to {
    background-position-x: -200%;
  }
}

.skeleton-nav {
  height: 40px;
  width: 100%;
  margin-bottom: 30px;
}

.skeleton-slider {
  width: 400px;
  height: 500px;
  flex-shrink: 0;
}

.skeleton-line {
  height: 20px;
  margin-bottom: 15px;
  &.title {
    width: 40%;
    height: 30px;
  }
  &.text {
    width: 100%;
  }
}

.skeleton-box {
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
}

.skeleton-features {
  height: 150px;
  width: 100%;
}

.productId-page {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

@media screen and (max-width: 1151px) {
  .skeleton-slider {
    width: 100%;
    height: 300px;
  }
}

.sliderId-component {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 10px;

  &__parameters,
  &__details {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #7d7d7d;
    text-align: justify;
  }

  &__parameters-title,
  &__details-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    color: #000;
  }

  &__parameters-item {
    font-size: 16px;
    color: #7d7d7d;
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    letter-spacing: 0%;
    text-transform: capitalize;
  }

  &__details-item {
    color: #7d7d7d;
    font-size: 16px;
    border-bottom: 1px solid #7d7d7d;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 190%;
    letter-spacing: 0%;
    padding-top: 6px;
  }
}

.product-sidebar {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .purchase-box {
    border: 1px solid #7d7d7d;
    border-radius: 10px;
    padding: 30px 22px 22px;

    &__price {
      font-size: 24px;
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0%;
      margin-bottom: 25px;
    }

    &__buttons {
      display: flex;
      gap: 10px;
      button {
        flex: 1;
        padding: 12px 20px;
        background: var(--primary-color);
        color: white;
        border-radius: 10px;
        flex-shrink: 0;
        font-weight: 400;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
      }
    }
  }

  .product-features {
    background: white;
    border-radius: 10px;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-shrink: 0;

    .feature-item {
      display: flex;
      align-items: center;
      gap: 16px;

      &__text {
        font-size: 13px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0%;

        span {
          font-weight: 600;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 0%;
        }
      }
    }
  }
}

.fullscreen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  img {
    max-width: 80%;
    max-height: 80%;
  }
  .product-info-overlay {
    position: absolute;
    bottom: 20px;
    left: 50px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
  }
}

@media screen and (max-width: 1151px) {
  .productId-page {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .product-sidebar {
    display: flex;
    gap: 20px;
    max-width: 100%;
    width: 100%;
    .purchase-box {
      width: 100%;
      flex: 1;
    }

    .product-features {
      width: 100%;
      flex: 1;
    }
  }
}

@media screen and (max-width: 770px) {
  .productId-page {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .sliderId-component {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .product-info {
        padding: 20px;
      }
    }
  }

  .product-sidebar {
    display: flex;
    gap: 20px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px;
    .purchase-box {
      width: 100%;
      flex: 1;
    }

    .product-features {
      width: 100%;
      flex: 1;
    }
  }
}
