.main {
  padding: 32px 0  96px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    max-width: 350px;
    width: 100%;
    flex-shrink: 0;

    & img {
      border-radius: 20px;
    }

    &-filter {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 22px;
        color: var(--gray);
      }

      &__inputs {
        display: flex;
        gap: 6px;

        &-inp {
          padding: 14px 20px;
          max-width: 174px;
          outline: none;
          border: none;
          background: var(--white);
          font-size: 18px;
          font-weight: 400;
          border-radius: 10px;
          line-height: 22px;
          color: var(--black);

          &::placeholder {
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            color: var(--gray);
          }
        }
      }
    }

    &-categories {
      display: flex;
      flex-direction: column;
      gap: 38px;

      &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 22px;
      }

      &__nav {
        display: flex;
        flex-direction: column;
        gap: 22px;

        &-elem {
          display: flex;
          justify-content: space-between;
          color: var(--black);

          &__text {
            color: var(--gray);
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            text-decoration-skip-ink: none;
          }
        }
      }
    }
  }

  .subcategory-products__section {
    width: 100%;
    height: 100%;
   

  }
    &__products {

.pagination{
  display: flex;
  justify-content: center;
}
      &-pagination {
        display: flex;
        margin: 0 auto;
        align-items: center;
        gap: 20px;

        &__num {
          padding: 10px 20px;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
        }

        &__btn {
          padding: 15px 20px;
          border-radius: 20px;
          text-align: center;
          font-size: 20px;
          font-weight: 400;
          line-height: 20px;
          color: var(--gray);
          background: var(--white);
          outline: none;
          border: none;
        }
      }

      &-btn {
        padding: 16px 0;
        border-radius: 20px;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        color: var(--gray);
        background: var(--white);
        outline: none;
        border: none;
      }

      &-grid {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }


@media screen and (max-width: 480px) {
  .main {
    padding: 20px 0;

    .pagination
    {
      display: none;
    }

    &__products {
      &-grid {
        grid-template-columns: repeat(2, 1fr);
      }

      &-btn {
        display: none;
      }

      &-pagination {
        display: none;
      }
    }

    &__left {
      display: none;

      &-categories {
        display: none;
      }
    }
  }
}
