.slider-container {
    max-width: 475px;
    width: 100%; 
    margin: 0 auto;
    overflow: hidden; 
}

.prodslide {
    flex-shrink: 0; 
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
  

    &__img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    &__active {
        border: 2px solid var(--primary-color);
        border-radius: 12px;
        padding: 2px;
    }
}

@media screen and (max-width: 1024px) {
    .prodslide {
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width: 768px) {
    .prodslide {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 480px) {
    .prodslide {
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 320px) {
    .prodslide {
        width: 60px;
        height: 60px;
    }
}
