.search {
    position: fixed;
    background: var(--body);
    top: 125px;
    z-index: 10000;
    left: 0;
    width: 100%;
    height: 100svh;

    &__wrap {
        padding: 25px 0;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__top {
        display: flex;
        justify-content: space-between;

        &-text {
            font-family: 'MV';
            font-weight: 400;
            font-size: 18px;
            background: none;
            border: none;
            outline: none;
            color: var(--primary-color);
        }

        &-title {
            font-family: 'MV';
            font-weight: 500;
            font-size: 18px;
            color: var(--black);
            line-height: 20px;
            letter-spacing: 0%;

        }
    }

    &__history {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-text {
            font-family: 'MV';
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            letter-spacing: 0%;
            color: var(--srchTxt);
        }

    }
}