.tost {
  padding: 15px 20px;
  border-radius: 12px;
  display: flex;
  gap: 14px;
  background: var(--white);
  -webkit-box-shadow: 0px 4px 23px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 23px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 23px 2px rgba(0, 0, 0, 0.15);
  align-items: center;

  &__text {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 15px;

    &-red {
      color: var(--sale);
      font-weight: 400;
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 480px) {
  .tost {
    max-width: 100%;
    width: 100%;

    &__text {
      font-size: 14px;

      &-red {
        font-size: 14px;
      }
    }
  }
}
