.form {
  background: var(--light-gray);
  position: relative;
  overflow: hidden;

  &__wrap {
    display: flex;
    padding: 48px 0 80px;
    position: relative;
    z-index: 1;
    gap: 20px;
    flex: 1;
  }

  &__img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    img {
      position: absolute;
      bottom: 0;
      left: 80%;
      transform: translateX(-50%) !important;
      z-index: 0;
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__desc {
    max-width: 475px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &-txts {
      &__title {
        font-size: 40px;
        font-weight: 700;
        line-height: 82px;
        letter-spacing: -0.05em;
        color: var(--primary-color);
      }

      &__text {
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
      }
    }

    &-main {
      max-width: 472px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__inp {
        padding: 24px 30px;
        border-radius: 10px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        text-transform: capitalize;

        &::placeholder {
          font-size: 16px;
          font-weight: 400;
          line-height: 18.75px;
          text-transform: capitalize;
        }
      }

      &__btn {
        padding: 24px;
        color: var(--white);
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        border-radius: 10px;
        outline: none;
        border: none;
        background: var(--primary-color);
      }
    }
  }
}

.phone-input,
.username-input {
  padding: 16px 18px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000000;
  outline: none;
  border: 1px solid rgba(197, 197, 197, 1);
  border-radius: 12px;
  text-transform: capitalize;
}

.username_input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 20px 0;
  label {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #818181;
    display: block;
  }

  .username-input::placeholder {
    text-transform: capitalize;
  }
}
@media screen and (max-width: 1275px) {
  .form__wrap {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 40px 0;
  }
  .form__img img {
    left: 95%;
    width: 100%;
  }
}

@media screen and (max-width: 770px) {
 
  .form {
  background: var(--light-gray);
  position: relative;
  overflow: hidden;

  &__wrap {
    display: flex;
    justify-content: center;
    padding: 20px 0 40px;
    position: relative;
    z-index: 1;
    gap: 20px;
  }

  &__img {
    display: none;

  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;

    &-txts {
      &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
      }

      &__text {
        font-size: 16px;
        font-weight: 400;
      }
    }

    &-main {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__inp {
        padding: 17px 16px;
      }

      &__btn {
        padding: 17px 16px;
      }
    }
  }
}


}

@media screen and (max-width: 480px) {

.phone-input,
.username-input {
  padding: 10px 15px;
  font-weight: 500;
  font-size: 14px;

}
}
