.header {
  width: 100%;
  position: sticky;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 0;
  z-index: 999;

  &__cover {
    display: none;
  }

  display: flex;
  flex-direction: column;

  &__top {
    background: var(--primary-color);

    &-wrap {
      display: flex;
      align-items: center;
       justify-content: space-between; 


    }

    &-nav {
      align-items: center;
      display: flex;
      gap: 24px;

      &__links {
        display: flex;
        gap: 22px;
      }

      &__number {
        &-link {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          color: var(--white);
        }
      }
    }

    &-locate {
      color: var(--white);
      display: flex;
      gap: 10px;
      padding: 12px 0;
      align-items: center;

      &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
      }

      &__span {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
      }
    }
  }

  &__main {
    padding: 20px 0;
    background: var(--white);

    &-wrap {
      display: flex;
      align-items: center;
      gap: 30px;
      justify-content: space-between;
    }

    &-adaptive {
      display: none;
    }

    &-inp {
      display: none;
    }

    &-logo {
      font-size: 32px;
      font-weight: 500;
      line-height: 38.41px;
      color: var(--primary-color);
      width: 220px;
    }

    &-center {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;

      &__search {
        display: flex;
        align-items: center;
        border: 1px solid #10355b;
        border-radius: 20px;
        width: 100%;

        &-input {
          width: 100%;
          border: none;
          outline: none;
          color: var(--black);
          font-size: 16px;
          font-weight: 400;
          padding: 12px 30px;
          border-bottom-left-radius: 20px;
          border-top-left-radius: 20px;

          &::placeholder {
            color: var(--gray);
            font-size: 16px;
            font-weight: 400;
          }
        }

        &-button {
          background: var(--primary-color);
          border-radius: 20px;
          padding: 12px 20px;
          outline: none;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &__categories {
        padding: 14px 20px;
        display: flex;
        align-items: center;
        max-height: 46px;
        gap: 10px;
        border-radius: 20px;
        background: var(--primary-color);

        &-text {
          font-size: 18px;
          font-weight: 400;
          color: var(--white);
        }
      }
    }

    &-nav {
      display: flex;
      gap: 30px;
      padding-left: 30px;

      .login-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        position: relative;
        cursor: pointer;
      }

      &__elem {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        position: relative;
        cursor: pointer;

        &-span {
          font-weight: 400;
          font-size: 11px;
          color: var(--white);
          border-radius: 100%;
          background: var(--sale);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          top: -5px;
          border: 1px solid var(--white);
          position: absolute;
          right: 15px;
        }

        &-text,
        .exit-btn,
        .login-btn {
          font-size: 16px;
          font-weight: 500;
          line-height: 19.2px;
          color: var(--primary-color);
        }
      }
    }
  }
}

.mobile-search-container {
  flex: 1;
  min-width: 0;
}


.header-adapt-nav {
  position: fixed;
  top: 115px;
  left: 0;
  width:100%;
  height: 100%;
  background: #fff;
  z-index: 9999;
  overflow-y: auto;
}




.mobile-catalog-btn {
  background: #10355b;
  border-radius: 14px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.headerAdaptive-catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 10px;
  right: 10px;
  bottom: 115px;
  z-index: 9999;
  background: #fff;
}


.mobile-menu-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mobile-menu-content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 150px;
}

.mobile-menu-footer {
  position: relative;
}

.subcategory-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    color: #000;
    font-size: 14px;
  }
}

.custom-checkbox-icon {
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.header__main-wrap.is-search-open {
  .logo-link {
    display: none;
  }

    .header__main-adaptive {
    flex: 1; 
  }
}

.header__main-wrap.is-search-open {
  .header__main-adaptive__search {
      position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.search-dropdown {
  position: fixed;
  top: 115px; 
  left: 0;
  right: 0;
  height: calc(100vh - 115px);

  background: #F5F5F7;
  padding: 16px;
  z-index: 1000;

}


.search-dropdown__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  span {
    font-size: 20px;
    font-weight: 600;
  }

  .search-dropdown__clear {
    background: none;
    border: none;
    color: #10355B;
    font-size: 14px;
    cursor: pointer;
  }
}
.search-dropdown__item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 12px;
    cursor: pointer;
   transition: background 0.2s ease;

    &:hover {
    background: #fff; 
  }

  .icon {
    color: #9ca3af;
  }

  .text {
    flex: 1;
    font-size: 16px;
  }

  .remove {
    background: none;
    border: none;
    font-size: 18px;
    color: #9ca3af;
    cursor: pointer;
  }
}




@media screen and (max-width: 769px) {
  


  .header {
    &__top {
      &-nav {
        display: none;

      }

      &-locate {
        &__text {
          font-size: 12px;
        }
        &__span {
          font-size: 12px;
        }
      }
    }

    &__main {
      display: flex;
      width: 100%;
      padding: 12px 0;
     

      &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
         gap: 10px;
      }

      &-inp {
        display: block;
        padding: 14px 16px;
        width: 100%;
        border-radius: 14px;
        border: 1px solid #10355b;
        background: #ffffff;
        font-size: 16px;
        flex: 1;
        min-width: 0;
        outline: none;
      

        &::placeholder {
          color: var(--gray);
        }
      }

      &-logo {
        width: 100px;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #10355b;
      }

      &-nav {
        display: none;
      }

      &-center {
        display: none;
      }

      &-adaptive {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      &-adaptive__default {
        display: flex;
        gap: 5px;
      }
      &-adaptive__search-open {
        display: flex;
        align-items: center;
        gap: 5px;
        flex: 1;
      }

      .mobile-search-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-adaptive__search {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 14px;
        border: none;
        outline: none;
        background: var(--primary-color);
        cursor: pointer;
        padding: 14px;
        position: static;
       
      }

      &-adaptive__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 14px;
        border: none;
        outline: none;
        background: var(--primary-color);
        cursor: pointer;
        padding: 14px;
      }
    }
  }

  .mobile-search-container {
    width: 100%;
    position: relative;
  }

  .logo-link {
    flex: 1;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
}
