.header {
  width: 100%;
  position: sticky;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 0;
  z-index: 999;
  &__cover {
    display: none;
  }

  display: flex;
  flex-direction: column;

  &__top {
    background: var(--primary-color);

    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-nav {
      align-items: center;
      display: flex;
      gap: 24px;

      &__links {
        display: flex;
        gap: 22px;
      }

      &__number {
        &-link {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          color: var(--white);
        }
      }
    }

    &-locate {
      color: var(--white);
      display: flex;
      gap: 10px;
      padding: 12px 0;
      align-items: center;

      &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
      }

      &__span {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
      }
    }
  }

  &__main {
    padding: 20px 0;
    background: var(--white);

    &-wrap {
      display: flex;
      align-items: center;
      gap: 30px;
      justify-content: space-between;
      position: relative;
    }

    &-adaptive {
      display: none;
    }

    &-inp {
      display: none;
    }

    &-logo {
      font-size: 32px;
      font-weight: 500;
      line-height: 38.41px;
      color: var(--primary-color);
      width: 220px;
    }

    &-center {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;

      &__search {
        display: flex;
        align-items: center;
        border: 1px solid #10355b;
        border-radius: 20px;
        width: 100%;

        &-input {
          width: 100%;
          border: none;
          outline: none;
          color: var(--black);
          font-size: 16px;
          font-weight: 400;
          padding: 12px 30px;
          border-bottom-left-radius: 20px;
          border-top-left-radius: 20px;

          &::placeholder {
            color: var(--gray);
            font-size: 16px;
            font-weight: 400;
          }
        }

        &-button {
          background: var(--primary-color);
          border-radius: 20px;
          padding: 12px 20px;
          outline: none;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &__categories {
        padding: 14px 20px;
        display: flex;
        align-items: center;
        max-height: 46px;
        gap: 10px;
        border-radius: 20px;
        background: var(--primary-color);

        &-text {
          font-size: 18px;
          font-weight: 400;
          color: var(--white);
        }
      }
    }

    &-nav {
      display: flex;
      gap: 30px;
      padding-left: 30px;

      .login-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        position: relative;
        cursor: pointer;
      }

      &__elem {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        position: relative;
        cursor: pointer;

        &-span {
          font-weight: 400;
          font-size: 11px;
          color: var(--white);
          border-radius: 100%;
          background: var(--sale);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          top: -5px;
          border: 1px solid var(--white);
          position: absolute;
          right: 15px;
        }

        &-text,
        .exit-btn,
        .login-btn {
          font-size: 16px;
          font-weight: 500;
          line-height: 19.2px;
          color: var(--primary-color);
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .header {
    &__top {
      &-nav {
        display: none;
      }

      &-locate {
        &__text {
          font-size: 12px;
        }
        &__span {
          font-size: 12px;
        }
      }
    }

    &__main {
      padding: 12px 0;

      &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
      }

      &-inp {
        outline: none;
        display: block;
        padding: 14px 16px;
        width: 100%;
        border-radius: 20px;
        border: 1px solid #10355b;
        background: #ffffff;
        font-size: 16px;

        &::placeholder {
          color: var(--gray);
        }
      }

      &-logo {
        width: 100%;
        font-weight: 500;
        font-size: 20px;
        line-height: 18px;
        color: #10355b;
      }

      &-nav {
        display: none;
      }

      &-center {
        display: none;
      }

      &-adaptive {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      &-adaptive__btn {
        width: 46px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 14px;
        border: none;
        outline: none;
        background: var(--primary-color);
      }
    }
  }

  
}
