.mobile-catalog {
  position: fixed;
  top: 7.1rem;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 9999;
  display: flex;
  flex-direction: column;
}

.headerAdaptive-catalog {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-catalog-btn{
  background: #10355B;
  border-radius: 14px;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}


/* Mobil qidiruv konteyneri */
.mobile-search-container {
  flex: 1; /* Logoning joyini to'liq egallaydi */
  margin-right: 10px;
}

.header__main-inp {
  width: 100%;
  height: 46px;
  border-radius: 14px; /* Figma bo'yicha */
  border: 1px solid #10355B;
  padding: 0 15px;
  display: block !important; /* Mobileda ko'rsatish */
}

/* Menyu ochilganda asosiy contentni yopish uchun */
.mobile-catalog {
  position: fixed;
  top: 110px; /* Header balandligiga qarab moslang (top-locate + main) */
  left: 0;
  width: 100%;
  height: calc(100vh - 110px);
  background: white;
  z-index: 1000;
  overflow-y: auto;
  padding-bottom: 80px;
}